/**
 * CSS Styles for catalyst feature
 */
 .node-catalyst-blogoff .field-name-field-subtitle {
 	font-size: 1.1em;
 	font-family: sans-serif;
 	margin: 1em 0;
 	text-transform: uppercase;
 }

 .node-catalyst-blogoff .field-name-field-blogoff-image {
 	float: right;
 	margin: 0em 0em 1em 1em;
 }

 .node-catalyst-blogoff .field-name-field-blogoff-image img {
 	border: 2px solid #999;
 	float: right;
 	padding: 2px;
 	margin: 0 0 12px 12px;
 }